body {
   /*  display: flex; */
    background-color: rgb(195, 168, 222);
}

#color-flip-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 5vh;
}

