main {
    background-color: white;
}

body {
   font-family: monospace;
   background-color: white;
}

#coding-quiz {
    display: flex;
    justify-content: center;
    width: auto;
    height: 15%;
    font-size: 4.5vh;
}

.questionElement {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
}

.timer {
    font-size: 40px;
    font-weight: 900;
    color: rgb(199, 6, 6);
}

.score {
    font-size: 40px;
    font-weight: 900;
    color: rgb(45, 183, 21);
    display: flex;
    justify-content: end;
}

.btn {
    font-size: large;
    font-weight: bold;
    width: 10%;
    background-color: darkgrey;
    height: auto;
    margin-left: 45%;    
}

button {
    font-size: large;
    font-weight: bold;
    width: 15%;
    background-color: rgb(242, 151, 118);
}

.gameOver {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.leaderboardContent {
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    font-size: 25px;
    font-weight: 600;
    color: rgb(167, 246, 246);
    border: solid 3px black;
    margin-right: 30%;
    background-color: rgb(214, 87, 40);
}


